/build
/build-mingw
/build-local
/cmake-build-*/

# IDE
.idea/
.vs/
*.user
*.sln
*.vcxproj
*.filters

# Runtime artifacts
/saves/
/settings.toml
/controls.toml
/controls.json
/latest.log
/screenshots/

# vcpkg
/vcpkg_installed/

# macOS
.DS_Store

# AppImage
/AppDir/
/appimage-build/
